[submodule "firmware/deps/cmake-avr"]
	path = firmware/deps/cmake-avr
	url = https://github.com/atuleu/cmake-avr.git
[submodule "firmware/deps/fort-libarke"]
	path = firmware/deps/fort-libarke
	url = https://github.com/formicidae-tracker/libarke.git
[submodule "ecad/lib/KiCad-Spice-Library"]
	path = ecad/lib/KiCad-Spice-Library
	url = https://github.com/kicad-spice-library/KiCad-Spice-Library.git
[submodule "firmware/deps/pico-sdk"]
	path = firmware/deps/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "firmware/deps/picotool"]
	path = firmware/deps/picotool
	url = https://github.com/raspberrypi/picotool.git
