[submodule "firmware/deps/cmake-avr"]
	path = firmware/deps/cmake-avr
	url = https://github.com/atuleu/cmake-avr.git
[submodule "firmware/deps/fort-libarke"]
	path = firmware/deps/fort-libarke
	url = git@c4science.ch:source/fort-libarke.git
